div.container-fluid,
body > div > div > div.col-md-12 {
  margin: 0px;
  padding: 0px;
}

/*header*/
/*Logo*/
body > div > div > div > nav > div > div.navbar-header > a > img {
  height: 5vh;
  margin-top: 6%;
  margin-left: 80%;
  width: 10vw;
}

body > div > div > div > nav > div,
body > div > div > div > nav > div > div.navbar-header > a,
#bs-example-navbar-collapse-1 {
  background-color: white;
  height: 90px;
}
/*Menú del nav*/
#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right {
  font-weight: bold;
  margin-top: 1.5%;
  margin-right: 10%;
}
/*Espacio entre links*/
#bs-example-navbar-collapse-1 > ul > li:nth-child(2) > a,
#bs-example-navbar-collapse-1 > ul > li:nth-child(3) > a {
  margin-left: 2.5vw;
}
/*Boton hamburguesa*/
body > div > div > div > nav > div > div.navbar-header > button {
  margin-top: 20px;
}

body > div > div:nth-child(1) > div > nav {
  border: none;
  margin: 0px;
}

/*Sección 1*/
/*Background de la sección*/
body > div > div:nth-child(2) > div > div.jumbotron {
  background-image: url("../assets/images/taxi.jpg");
  background-size: cover;
  background-position: 100% 92%;
  border-radius: 0px;
  height: 720px;
  margin: 0px;
  padding-right: 0px;
  padding-top: 170px;
}
/*Formulario de la derecha*/
body > div > div:nth-child(2) > div > div > div > div > div.jumbotron {
  background-color: #F7B617;
  border-radius: 0;
  color: white;
  height: 400px;
  padding: 38px 40px;
}
/*Padding derecho a la columna*/
body > div > div:nth-child(2) > div > div > div {
  padding-right: 0px;
}
/*Texto de jumbotron*/
body > div > div:nth-child(2) > div > div > div > div > div > h1 {
  font-size: 2.2em;
  margin: 0px;
}
/*Texto del jumbotron2 */
body > div > div:nth-child(2) > div > div > div > div > div > p:nth-child(3) {
  margin-top: 8%;
}
/*Logo2*/
body > div > div:nth-child(2) > div > div > div > div > div > p:nth-child(3) > img {
  height: 3.5vh;
  margin-left: 2%;
  width: 6.5vw;
}
/*Líneas horizontales*/
body > div > div:nth-child(2) > div > div > div > div > div > div > div > hr {
  display: inline-block;
  width: 30%;
}
/*texto "o bien"*/
body > div > div:nth-child(2) > div > div > div > div > div > div > div > p {
  font-size: 1em;
  margin: 0 13%;
}
/*columna del jumbotron*/
body > div > div:nth-child(2) > div > div > div > div > div > div > div {
  margin: 5% 0;
}

/*Sección 2*/
body > div > div:nth-child(3) > div.section-3 {
  background-color: #F7B617;
  color: white;
  height: 590px;
  padding: 50px 0px;
}
/*Cuadro del teléfono*/
body > div > div:nth-child(3) > div > div > div > div.media {
  border: 1px solid white;
  height: 490px;
  padding: 7vh 6vw 7vh 10vh;
}
/*Textos "Descarga la nueva app"*/
body > div > div:nth-child(3) > div > div > div > div > div.media-body {
  padding: 2vh 3vw 1vh 7vw;
}
/*p de la tercera sección*/
body > div > div:nth-child(3) > div > div > div > div > div.media-body > p {
  font-size: 1.6em;
  margin-top: 5vh;
}

/*Sección 3*/
/*Background de la sección 3*/
body > div > div:nth-child(4) > div.section-4 {
  background-image: url("../assets/images/conduce.jpg");
  background-size: cover;
  background-position: 100% 55%;
  color: white;
  height: 450px;
}
/*Boton "Conviértete en conductor"*/
body > div > div:nth-child(4) > div > div > div > div > div > button {
  background-color: #F7B617;
  color: white;
  font-weight: bold;
}
