/*Header*/
/*Logo*/
a.logo-mobile {
  padding-top: 5vh;
}
/*Contenedores del nav*/
nav.navbar-default > div,
div.navbar-header,
div.navbar-header > a,
#bs-example-navbar-collapse-1 {
  background-color: white;
  height: 17vh;
}
/*Menú del nav*/
#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right {
  margin-top: 4.5vh;
  margin-right: 10vw;
}
/*Espacio entre links*/
#bs-example-navbar-collapse-1 > ul > li:nth-child(1) > a,
#bs-example-navbar-collapse-1 > ul > li:nth-child(2) > a,
#bs-example-navbar-collapse-1 > ul > li:nth-child(3) > a {
  margin-left: 2.5vw;
}
/*Boton hamburguesa*/
div.navbar-header > button {
  margin-left: 6vw;
  margin-top: 5vh;
}
/*Borde del nav*/
nav.navbar-default {
  border: none;
  margin-bottom: 0;
}

/*Sección 1*/
/*Background de la sección*/
body > div.jumbotron {
  background-image: url("../assets/images/taxi.jpg");
  background-size: cover;
  background-position: 100% 92%;
  height: 106.5vh;
  margin: 0;
  padding-right: 0;
  padding-top: 23vh;
}
/*Formulario de la derecha*/
div.col-jumbotron2 > div.jumbotron {
  background-color: #F7B617;
  border-radius: 0;
  color: white;
  height: 60vh;
  padding: 7vh 4vw;
  margin: 0;
}
/*Padding derecho a la columna*/
div.col-jumbotron2 {
  padding: 0;
}
/*Texto de jumbotron*/
div.col-jumbotron2 > div.jumbotron-desktop > h2 {
  font-size: 2.2em;
  margin: 0;
}
/*Texto del jumbotron2 */
div.col-jumbotron2 > div.jumbotron-desktop > p:nth-child(3) {
  margin-top: 5vh;
}
/*Logo2*/
div.col-jumbotron2 > div.jumbotron-desktop > p:nth-child(3) > img {
  height: 3.5vh;
  margin-left: 1vw;
  width: 6.5vw;
}
/*Líneas horizontales*/
div.col-jumbotron2 > div.jumbotron-desktop > div > div > hr {
  display: inline-block;
  width: 10vw;
}
/*texto "o bien"*/
div.col-jumbotron2 > div.jumbotron-desktop > div > div > p {
  font-size: 1em;
  margin: 0 5vw;
}
/*Jumbotron mobile*/
div.jumbotron.visible-xs {
  height: 70vh;
  padding-top: 20vh;
}
/*Padding de la columna mobile*/
div.mobile-jumbotron > div {
  padding: 0;
}
/*Jumbotron mobile*/
div.mobile-jumbotron > div > div {
  background-color: #F7B617;
  border-radius: 0;
  color: white;
  height: 30vh;
  margin: 0;
}
/*Botton jumbotron*/
div.jumbotron.hidden-xs > div > div > div > div > p:nth-child(6) > a {
  margin-top: 2vh;
}
/*Logo del jumbotron*/
div.jumbotron.visible-xs > div > div > div > div > p:nth-child(1) > img {
  height: 3vh;
  margin-left: 2vw;
  width: 14vw;
}
/*Jumbotron2 mobile*/
div.jumbotron.visible-xs > div > div > div > div {
  padding: 2vh 10vw 1vh 5vw;
}
/*Texto*/
div.mobile-jumbotron > div > div > p:nth-child(1) {
  font-size: 1.6em;
  margin-bottom: 2vh;
}
/*Border-radius*/
body > div.jumbotron.visible-xs > div > div > div > div {
  border-radius: 0;
}

/*Sección 2*/
div.section-2 > div > div {
  background-color: #F7B617;
  color: white;
  height: 92vh;
  padding: 8vh 0;
}
/*Cuadro del teléfono*/
div.section-2 > div > div > div > div {
  border: 1px solid white;
  border-left: none;
  height: 77vh;
  padding: 5vh 6vw 5vh 10vh;
}
/*p de la tercera sección*/
div.section-2 > div > div > div > div > div > div.media-body > p {
  font-size: 1.6em;
  margin-top: 5vh;
}
/*Media-body para acomodar todo el texto*/
div.section-2 > div > div > div > div > div > div.media-body {
  padding: 5.5vh 4vw 0vh 8vw;
}
/*Sección 2 mobile*/
div.section-2 > div.row.visible-xs > div {
  height: 105vh;
  padding: 6vh 4vw 6vh 4vw;
}
/*Recuadro blanco*/
div.section-2 > div.row.visible-xs > div > div {
  border: 1px solid white;
  padding: 14vh 12vw;
}
/*Imagen mobile*/
div.section-2 > div.row.visible-xs > div > div > a > img {
  margin: 0 auto;
}

div.section-2 > div.row.visible-xs > div > h4 {
  font-size: 1em;
  margin: 0;
  margin-top: 4vh;
}

/*Sección 3*/
/*Background de la sección 3*/
div.section-3 {
  background-image: url("../assets/images/conduce.jpg");
  background-size: cover;
  background-position: 95% 60%;
  color: white;
  height: 80vh;
}
/*Padding que estorban*/
body > div.container-fluid.section-3 > div > div,
body > div.container-fluid.section-3 > div > div > div > div {
  padding-left: 0;
  padding-right: 0;
}
/*Boton "Conviértete en conductor"*/
button.section-3 {
  background-color: #F7B617;
  color: white;
  font-weight: bold;
}
/*Media-body opacidad*/
body > div.container-fluid.section-3 > div > div > div > div > div > div.media-body {
  background-color: rgba(0, 0, 0, 0.57);
  height: 79.9vh;
  padding: 0;
  padding-left: 3vw;
  padding-top: 19vh;
}
/*Texto de la sección 3*/
body > div.container-fluid.section-3 > div > div > div > div > div > div.media-body > p {
  font-size: 1.35em;
  margin: 3vh 0;
}
